body {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
}

.col-full {
  width: 100%;
}

.col-third {
  width: calc(100% / 3);
}

.col-fourth {
  width: 25%;
}

.col-two-third {
  width: calc(200% / 3);
}

.character {
  width: 100%;
}
