
tr:nth-child(odd) {
  background-color: lightgray;
}

/* Use CSS only
Remove class attributes and go from there
experiment with code and test methods
 .odd {
  background-color: lightgray;
  color: black;
}
*/
th {
  background-color: black;
  color: white;
}

button {
  height: 150px;
  width: 400px;
}

button:hover {
  background-color: black;
  color: whitesmoke;
}

button:focus {
  background-color: green;
  color: white;
}

button:active {
  background-color: black;
  color: whitesmoke;
}
